
<div class="splash-site-wrapper">

  <div class="">
    <header class="clearfix">
      <div class="container-fluid green-bg inner">
        <a href="/"><img class="logo-img" src="http://chezbro.com/images/new-home-skinny-banner-2x.jpg"
        <nav>
          <ul class="nav masthead-nav">
      
          </ul>
        </nav>
      </div>
    </header>
      <div class="container">
        <div class="inner cover inner-cover">
          <h1 class="cover-heading">Thank you for contributing to The Chicago Lighthouse.</h1>
          <p class="lead">
            <%= button_to "Watch Now", video_path, method: :get %>
          </p>
        </div>
      </div>

    </div>

  </div>
