
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
            <a href="/"><img class="logo-img" src="http://chezbro.com/images/new-skinny-banner-2x.jpg" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">

              </ul>
            </nav>
          </div>
        </header>

        <div class="container">
          <div class="inner inner-cover">
            <h1 class="cover-heading white-text">Thank you for contributing to <br>The Chicago Lighthouse.</h1>
            <h4 style="width:60%;margin: 0 auto;">The virtual tour will be available from Friday, November 5th starting at 9am central time through Sunday, November 7th at 9pm central time.</h4>
          </div>

        </div>

      </div>

    </div>
