
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
            <a href="/"><img class="logo-img" src="https://p22.f4.n0.cdn.getcloudapp.com/items/geu1dE5N/96ac79b5-8817-44a7-86b2-230c2e64624c.jpg?source=viewer&v=360d5809c6be0c09e5e7e5f753599869" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">
              </ul>
            </nav>
          </div>
        </header>

        <div class="container">
          <div class="inner inner-cover">
            <h1 class="cover-heading white-text">Thank you for contributing to <br> The Chicago Lighthouse. <br> </h1>
            <h3> <br>We look forward to seeing you again next year!</h3>
          </div>

        </div>

      </div>

    </div>
