
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
            <a href="/"><img class="logo-img" src="http://ericchesbrough.com/media/new-logo.jpg" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">

              </ul>
            </nav>
          </div>
        </header>

        <div class="container">
          <div class="inner inner-cover">
            <h1 class="cover-heading blue-text">Thank you for contributing to <br>The Chicago Lighthouse.</h1>

            <!-- <p class="lead">Please sign in using the information we provided.</p> -->
            <!-- <h5 class="blue-text">The virtual tour will be available starting tomorrow at 9:00AM CST.</h5> -->
          <!-- <p><#%= button_to("Virtual Tour Login", new_user_session_path, method: :get, :class => "btn btn-success") %></p> -->
          </div>

        </div>

      </div>

    </div>
