
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
            <a href="/"><img class="logo-img" src="http://chezbro.com/images/smaller-new-logo.jpg" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">
              </ul>
            </nav>
          </div>
        </header>

        <div class="container">
          <div class="inner inner-cover">
            <h1 class="cover-heading white-text">Thank you for contributing to <br> The Chicago Lighthouse. <br> We look forward to seeing you again next year!</h1>
          </div>

        </div>

      </div>

    </div>
