
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
            <a href="/"><img class="logo-img" src="https://p0.f0.n0.cdn.getcloudapp.com/items/nOubGPm4/2ac0c873-6a71-4878-876d-0ce125d31c00.png?source=viewer&v=5d94e0cb033c8a44cdebe50e1677269f" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">
              </ul>
            </nav>
          </div>
        </header>

        <div class="container">
          <div class="inner inner-cover">
            <h1 class="cover-heading white-text">Thank you for contributing to The Chicago Lighthouse. <br> </h1>
            <h3> <br> The virtual tour will be available from Friday, November 11th starting at 9AM CST through Sunday, November 13th at 9PM CST.</h3>
          </div>

        </div>

      </div>

    </div>
