
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
          <a href="/"><img class="logo-img" src="https://p0.f0.n0.cdn.getcloudapp.com/items/nOubGPm4/2ac0c873-6a71-4878-876d-0ce125d31c00.png?source=viewer&v=5d94e0cb033c8a44cdebe50e1677269f" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete if current_user.present? %></li>
              </ul>
            </nav>
          </div>
        </header>
    <div class="container">
          <div class="inner cover">
            <h1 class="one-time d-none blue-text">Thank you for supporting The Chicago Lighthouse.</h1>
             <h3 class="one-time d-none blue-text">Please refresh the page to watch again</h3>
            <video autoplay="true" oncontextmenu="return false;" id="myVideo" controls controlsList="nodownload">
              <source src="https://storage.googleapis.com/b-media/2021-House-Walk-Tour.mp4" type="video/mp4">
            </video> 



<div class="wrap">
    <!-- <iframe width="100%" height="600px" src="https://www.youtube.com/embed/LAInTiNH7j4?rel=0&modestbranding=1&autohide=1&showinfo=0&controls=1&rel=0" frameborder="0" allowfullscreen></iframe> -->
</div>


<style>
    .wrap{
        height: 600px;
        overflow: hidden;
    }
    iframe {
        position: relative;
        top: -64px;
    }
</style>

          </div>

        </div>

      </div>

    </div>
