
    <div class="splash-site-wrapper">

      <div class="">
        <header class="clearfix">
          <div class="container-fluid green-bg inner">
          <a href="/"><img class="logo-img" src="https://p22.f4.n0.cdn.getcloudapp.com/items/geu1dE5N/96ac79b5-8817-44a7-86b2-230c2e64624c.jpg?source=viewer&v=360d5809c6be0c09e5e7e5f753599869" alt=""></a>
            <nav>
              <ul class="nav masthead-nav">
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete if current_user.present? %></li>
              </ul>
            </nav>
          </div>
        </header>

    <div class="container">
      <h1 style="top:20px; position:relative; font-size:16px;">Please click Play to watch the tour.</h1>
      <div class="inner cover">
          <video class="video-wrapper" autoplay="true" oncontextmenu="return false;" id="myVideo" controls poster= 
          "https://p22.f4.n0.cdn.getcloudapp.com/items/NQu5jPEp/479f5adf-e3d6-457b-99cb-593d0fcf0ecb.jpg?source=viewer&v=ceae64f61199c393fe86caaf5914c3f7" controlsList="nodownload">
          <source src="https://chezbro.s3.us-east-2.amazonaws.com/2023HouseWalkTourFinal.mov" type="video/mp4">
        </video> 
      </div>
      

             
        
      </div>

      </div>

    </div>
